<div>
    <footer class="cl">
        <div class="w1200">

            <ul>
                <li>逛逛暖岛</li>
                <li>登录注册</li>
                <li>下单及支付</li>
                <li>使用代金券</li>
                <li>找回密码</li>
            </ul>
            <ul>
                <li>订单详情</li>
                <li>查询订单</li>
                <li>追踪物流</li>
                <li>配送费用</li>
                <li>配送时间</li>
            </ul>
            <ul>
                <li>退货换货</li>
                <li>退换规则</li>
                <li>退换发送</li>
                <li>退款时间</li>
                <li>运费报销</li>
            </ul>
            <ul>
                <li>关于暖岛</li>
                <li>暖岛故事</li>
                <li>合作机会</li>
                <li>加入暖岛</li>
                <li>联系我们</li>
            </ul>
            <ul>
                <li>
                    订阅电子报
                </li>
                <div class="mailBox">
                    <input type="text" placeholder="请输入邮箱地址">
                    <div>
                        <i></i>
                    </div>
                </div>
                <div class="icon">
                    <ul class="cl">
                        <li class="icon1"></li>
                        <li class="icon2"></li>
                        <li class="icon3"></li>
                        <li class="icon4"></li>
                        <li class="icon5"></li>
                    </ul>
                </div>
            </ul>
        </div>

    </footer>
</div>